:root {
    --background-dark: #000000;
    --background-light: #ffffff;
    --secondary: #eb0000;
    --text-light: #ffffff;
    --text-grey: #b8b8b8;
    --grey: #2e2e2e;
    --scrollbar-color: rgba(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

.scroll-path {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: var(--scrollbar-color);
    border-radius: 20rem;
    z-index: 999999;
}

.progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0%;
    background-color: var(--secondary);
    z-index: 9999999;
    border-radius: 20rem;
    transition: height 100ms ease;
}

.progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    filter: blur(30px);
    border-radius: 20rem;
}

.progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    filter: blur(30px);
    border-radius: 20rem;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-dark);
}

header {
    height: 10rem; 
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: background-color 750ms ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4rem;
    margin: 0 auto;
    max-width: 150rem;
}

.nav-title {
    font-size: 4rem;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    color: inherit;
}

.nav-item {
    font-size: 1.5rem;
    margin-right: 4rem;
    transition: transform 500ms ease, color 500ms ease;
    color: var(--text-light)
}

.nav-item:hover {
    color: var(--secondary);
    transform: scale(1.05);
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link h3 {
    position: relative;
}

.nav-link h3::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    width: 100%;
    height: .15rem;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms ease;
}

.nav-item:hover .nav-link h3::after {
    transform: scalex(1);
    transform-origin: left;
}

.home {
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.home .content {
    width: 100%;
    max-width: 150rem;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 0 8rem;
}

.content::after {
    content: '';
    position: absolute;
    background-color: var(--grey);
    width: 50rem;
    height: 100vh;
    right: 27rem;
    z-index: -1;
}

.content::before {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    width: 80rem;
    height: 30rem;
    right: -30rem;
    bottom: 20rem;
    z-index: 0;
}

.content-container {
    z-index: 1;
}

.content-title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title::after {
    content: " Garrett.";
    color: var(--secondary);
    transform:translateX(5%);
    font-size: 7rem;  
    transform-origin: center;
}

.content-subtitle {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: var(--text-grey);
}

.content-button {
    margin-top: 4rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    width: 20rem;
    background-color: var(--secondary);
    color: var(--text-light);
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 500ms ease;
}

.content-button:hover {
    transform: scale(1.05);
}

.background-img-home {
    z-index: -100;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
}

.socials {
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    height: 50vh;
    height: 80%;
}

.social-icon {
    list-style: none;
    margin: 2rem 0;
}

.icon {
    color: var(--grey);
    font-size: 4rem;   
}

.icon:hover i {
    transform: scale(1.1);
    color: var(--secondary)
}

.icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    margin: auto;
    transition: transform 500ms ease, color 500ms ease;
}

.transition {
    position: absolute;
    bottom: 10rem;
    font-size: 3rem;
    opacity: 1;
    animation: arrow-fade 1500ms ease-in-out infinite alternate;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transition h1 {
    font-size: 3rem;
    animation: blink 750ms ease-in-out infinite alternate;
    opacity: 0;
    color: var(--secondary)
}

.about {
    height: 100vh;
    border-top: 5px var(--secondary) solid;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-content {
    max-width: 150rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 8rem;
}

.about-content::before {
    content: '';
    position: absolute;
    background-color: var(--grey);
    height: 100vh;
    width: 50rem;
    z-index: -2;
    top: 0;
    left: 0;
}

.about-content::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    height: 5rem;
    width: 60rem;
    z-index: -1;
    bottom: 10rem;
    left: -20rem;
}

.about-content-container {
    margin-top: -10rem;
    width: 150rem;
    height: 60rem;
    padding: 0 4rem;
    border: 5px solid var(--background-light);
    position: relative;
}

.about-content-container::after {
    content: '';
    position: absolute;
    background-color: var(--secondary);
    height: 5rem;
    width: 134rem;
    z-index: -1;
    top: -10rem;
    left: -0.5rem;
}

.about-title h1 {
    font-size: 8rem;
    color: var(--secondary)
}

.about-info-content {
    height: 100%;
    display: flex;
    gap: 20px;
    border: 5px solid var(--secondary)
}

.about-info-text {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-info-text p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0 2rem;
    color: var(--text-grey);
}

.buttons {
    margin: 2rem 0;
}

.about-btn {
    margin: 0 2rem;
    border: none;
    background-color: var(--secondary);
    padding: 1rem 1rem;
    font-size: 2rem;
    width: 20rem;
    color: var(--text-light);
    cursor: pointer;
    transition: transform 500ms ease;
}

.about-btn:hover {
    transform: scale(1.05);
}

.about-info-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: .5;
}

.skills-title {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.skills-title h2 {
    font-size: 4rem;
    color: var(--secondary)
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 6rem;
    grid-gap: 40px;
    color: var(--background-light);
}

.skills i {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 500ms ease, transform 500ms ease;
}

.skills i:hover {
    transform: scale(1.1);
    color: var(--secondary)
}

.about-background-image {
    position: absolute;
    z-index: -3;
    bottom: -30rem;
    right: -90rem;
}

.portfolio {
    border-top: 5px var(--secondary) solid;
    height: 100vh;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.portfolio-background-img {
    position: absolute;
    z-index: -2;
    left: 0;
}

.portfolio::before {
    content: '';
    background-color: var(--secondary);
    width: 5rem;
    position: absolute;
    height: 65rem;
    z-index: 0;
    bottom: 25rem;
    right: 30rem;
}

.portfolio::after {
    content: '';
    background-color: var(--grey);
    width: 100vw;
    position: absolute;
    height: 20rem;
    z-index: -1;
    bottom: 35rem;
}

.portfolio-content {
    max-width: 150rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfolio-title {
    font-size: 6rem;
    color: var(--secondary);
    margin-bottom: 2rem;
}

.card {
    position: relative;
    display: flex;
    width: 250px;
    height: 500px;
    transition: 0.5s;
    background-color: var(--background-light);
    border-radius: 0.5rem;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px rgba(255, 0, 0, 1),
    10px 10px rgba(255, 0, 0, 0.6),
    15px 15px rgba(255, 0, 0, 0.4),
    20px 20px rgba(255, 0, 0, 00);
    z-index: 1;
}

.card-content {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--background-dark)
}

.card-description {
    font-size: 1.5rem;
    flex: 1;
    color: var(--grey);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons a button {
    background-color: var(--secondary);
    border: none;
    font-size: 2rem;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: transform 500ms ease;
    color: var(--text-light);
}

.buttons a button:hover {
    transform: scale(1.1);
}

.contact {
    height: 100vh;
    border-top: 5px var(--secondary) solid;
}

@keyframes arrow-fade {
    from {
        bottom: 10rem;
    }
    to {
        bottom: 5rem;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .portfolio-container {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       place-items: center;  
    }

    .card:last-child:nth-child(3n - 2) {
        grid-column-end: 3;
    }

    .portfolio::before, .portfolio::after {
        display: none;
    }

    .portfolio {
        height: auto;
    }
}

@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .portfolio-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card:last-child:nth-child(3n - 2) {
        grid-column-end: 0;
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
    }

    .card {
        grid-column-start: -3;
    }
}